.projects-list {
  .project-card {
    border-image-slice: 1;
    border-width: 1px;
    // width: 60%;
    border-image-source: linear-gradient(
      to top,
      rgba(128, 128, 128, 0.342),
      rgba(128, 128, 128, 0.342) 45%,
      #ec4899 100%
    );
  }

  .project-image {
    width: 100%;
    overflow: hidden;
    background-color: #352e743a;
    cursor: pointer;
  }

  .project-image img {
    transition: 0.5s ease;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  .project-info {
    padding: 1rem;

    background-color: black;
    // pallini
    // background-image: radial-gradient(rgba(255, 255, 255, 0.089) 2px, transparent 0);
    // background-size: 50px 50px;
    // background-position: -5px -5px

    p {
      font-size: 15px;
    }

    h3 {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .tech-container {
      h4 {
        margin-top: 30px;
        font-weight: bold;
      }

      ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 5px 0;
        align-items: center;
        justify-content: start;

        li {
          box-shadow: 3px 3px 1px #125042;
          background-color: #10d3b3;
          padding: 5px 10px;
          border-radius: 15px;
          text-transform: uppercase;
          color: black;
          font-size: 14px;
          font-weight: bold;
          text-shadow: 0px 0px 1px #000000;
        }
      }
    }
  }
}

//modale
.img-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .close-btn {
    position: absolute;
    top: 65px;
    right: 20px;
    font-size: 2.5rem;
    cursor: pointer;
  }

  figure {
    width: 80%;
    height: 80vh;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .arrows {
    position: absolute;
    bottom: 50%;
    font-size: 35px;
    transform: translate(0, 50%);
    cursor: pointer;
    transition: 0.4s ease;

    &:hover {
      color: #261c52;
    }

    &.left {
      left: 15px;
    }

    &.right {
      right: 15px;
    }
  }
}

//media query

@media screen and (min-width: 760px) {
  .projects-list {
    .project-info {
      p {
        font-size: 16px;
      }
    }
  }
}
