.skill-card {
    background-color: #201844;
    display: inline-block;
    width: 150px;
    padding: 1rem;
    position: relative;
    transition: .2s ease-in;
    cursor: pointer;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to top, rgba(128, 128, 128, 0.342), rgba(128, 128, 128, 0.342) 45%, #ec4899 100%);
    
    
    &:hover {
        scale: 1.08;
    }

    h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    
    }

    .skill-img {
    margin-top: .8rem;
    width: 80px;
    }
}

