header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;

  .container {
    align-items: center;
    padding: 15px;
    font-size: 25px;
    margin: 0 auto;
  }

  .nav-links {
    font-size: 16px;

    li {
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        color: #ec4899;
      }
    }
  }
}

.line-divisor {
  width: 100%;
  background-color: white;
  height: 1px;
  margin: 67.5px 0 30px 0px;
}

.arrow {
  height: 2px;
  background-color: white;
  width: 25px;
  margin-bottom: 7px;
  border-radius: 5px;
  transition: 0.3s ease;
}

#hamburger-menu {
  cursor: pointer;
}

#hamburger-menu:hover .arrow {
  background-color: #ec4899;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: black;
}

#close-btn {
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

#close-btn:hover {
  color: #ec4899;
}

.header-scrolled {
  background-color: black;
}

.common-dropdown {
  font-size: 13px;
  background-color: black;
  text-transform: none;
  color: white;

  li {
    transition: 0.3s ease;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid white;

    &:hover {
      color: #ec4899;
      border-bottom: 1px solid #ec4899;
    }
  }
}

.dropdown-navbar {
  @extend .common-dropdown;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  border-top: 1px solid white;
  padding: 10px 5px 5px 5px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.308);
}

.dropdown-navbar-side {
  @extend .common-dropdown;
  position: relative;
  padding-top: 10px;
  top: -2px;
}
