  header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    
    .container {
    align-items: center;
    padding: 15px;
    font-size: 25px;
    margin: 0 auto;
    
  }

     .nav-links {
    font-size: 16px;
    

    li {
      transition: .3s ease;

      &:hover {
        color: #ec4899;
        cursor: pointer;
      }
    }
  }

  }

  

  .line-divisor {
    width: 100%;
    background-color: white;
    height: 1px;
    margin: 67.5px 0 30px 0px;
  }

  .arrow {
    height: 2px;
    background-color: white;
    width: 25px;
    margin-bottom: 7px;
    border-radius: 5px;
    transition: .3s ease;
  }

  #hamburger-menu {
    cursor: pointer;
  }

  #hamburger-menu:hover .arrow {
    background-color: #ec4899;
    
  }

  #sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: black;
    // padding: 50px 0 0 20px;
  }

  #close-btn {
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
    transition: .3s ease;
  }

  #close-btn:hover {
    color: #ec4899;
  }

  .header-scrolled {
    background-color: black;
  }



 

 