#about-me {
    .container {
    padding: 2rem;
  }

  
  #aboutme-img {
    border-radius: 5px;
    height: 250px;
    object-position: top center;
    object-fit: cover;
  }

  .writing-text {
    font-size: 25px;
    max-width: 800px;

    h1 {
      font-size: 40px;
        font-weight: bold;
    }

    @media screen and (min-width: 760px) {
      h1 {
          font-size: 60px;
        }
    }

    span {
      font-weight: bold;
      position: relative;

      &.color-purple::after {
        position: absolute;
        content: '';
        top: 0;
        right: -12px;
        width: 10px;
        height: 100%;
        background-color: #ec4899;
      }
    }

  }


  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 25px;
  }

  .icons-container {

    a {
      font-size: 40px;
      margin: 10px 10px 10px 0;
      cursor: pointer;

      .icon {
        transition: transform 0.2s ease-in-out;
        }

        .icon:hover {
            transform: scale(1.1);
        }
    }
  }

  .buttons-container {

    a {
      background: rgb(236, 72, 153);
      background: linear-gradient(90deg, rgba(236, 72, 153, 1) 0%, rgba(38, 28, 82, 1) 100%);
      margin: 10px 10px 10px 0;
      padding: 15px 25px;
      border-radius: 35px;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid rgb(236, 72, 153);

      
    }

     
  }
}